<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegram</title>
    <link rel="shortcut icon" href="public/images/fav.webp" />
    <link rel="stylesheet" href="public/vendor/bootstrap/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="public/css/media.css" />
    <link rel="stylesheet" href="public/css/common.css" />
    <link rel="stylesheet" href="public/css/style.css" />
  </head>

  <body>
    <main class="main">
      <section class="costom-row">
        <div class="costom-col-3">
          <section class="sidebar">
            <div class="sidebar__header">
              <div class="sidebar__menu">
                <i class="sidebar__menu-icon animated-menu-icon"></i>
              </div>
              <div class="sidebar__searchbar">
                <input
                  type="text"
                  class="sidebar__searchbar-input"
                  placeholder="Search"
                />
                <i class="sidebar__searchbar-icon fa fa-search"></i>
              </div>
            </div>
            <div class="sidebar__categories">
              <ul class="sidebar__categories-list">
                <li
                  class="sidebar__categories-item sidebar__categories-item--active"
                  data-category-name="all"
                >
                  <span class="sidebar__categories-text">All</span>
                  <!-- <span class="sidebar__categories-counter sidebar__counter">3</span> -->
                </li>
              </ul>
            </div>
            <div
              class="sidebar__contact data-category-all sidebar__contact--active"
            >
              <ul class="sidebar__contact-list">
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/profiles/1.jpeg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title">Qadir Yolme</span>
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span
                        class="sidebar__contact-counter sidebar__counter sidebar__counter-active"
                        >66</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/profiles/2.jpeg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Shahram Khandagi</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Shahram Khandagi:
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span
                        class="sidebar__contact-counter sidebar__counter sidebar__counter-active"
                        >266</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/profiles/3.jpeg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title">Sasan</span>
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Sasan :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >همه تسک‌ها done شدن</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام ییییییییییییییییییییی</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="sidebar__contact data-category-group">
              <ul class="sidebar__contact-list">
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >ijrewijgfjierjigjierij</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >ijrewijgfjierjigjierij</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="sidebar__contact data-category-people">
              <ul class="sidebar__contact-list">
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام داداش خوبی؟</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >سلام ییییییییییییییییییییی</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="sidebar__contact data-category-channle">
              <ul class="sidebar__contact-list">
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >ijrewijgfjierjigjierij</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
                <li class="sidebar__contact-item">
                  <a class="sidebar__contact-link" href="#">
                    <div class="sidebar__contact-left">
                      <div class="sidebar__contact-left-left">
                        <img
                          class="sidebar__contact-avatar"
                          src="public/images/avatar.jpg"
                        />
                      </div>
                      <div class="sidebar__contact-left-right">
                        <span class="sidebar__contact-title"
                          >Sabzlearn support</span
                        >
                        <div class="sidebar__contact-sender">
                          <span class="sidebar__contact-sender-name"
                            >Qadir Yolme :
                          </span>
                          <span class="sidebar__contact-sender-text"
                            >ijrewijgfjierjigjierij</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="sidebar__contact-right">
                      <span class="sidebar__contact-clock">15.53</span>
                      <span class="sidebar__contact-counter sidebar__counter"
                        >4</span
                      >
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </section>
          <button
            class="sidebar-bottom-btn btn-circle rp btn-corner z-depth-1 btn-menu-toggle"
          >
            <span
              class="tgico animated-button-icon-icon animated-button-icon-icon-first"
              ></span
            >
          </button>
        </div>
        <div class="costom-col-9 container-hide">
          <section class="chat">
            <div class="chat__header">
              <div class="chat__header-left">
                <button class="btn-icon sidebar-close-button">
                  <span class="tgico button-icon"></span>
                  <span
                    class="badge badge-20 badge-primary is-badge-empty back-unread-badge"
                  ></span>
                </button>
                <div class="chat__header-left-left">
                  <img
                    class="chat__header-avatar"
                    src="public/images/avatar.jpg"
                  />
                </div>
                <div class="chat__header-left-right">
                  <span class="chat__header-name">M.SaeeidiRad</span>
                  <span class="chat__header-status">last seen recently</span>
                </div>
              </div>
              <div class="chat__header-right">
                <div class="chat__header-search icon-phone">
                  <span
                    class="tgico button-icon chat__header-phone-icon"
                  ></span>
                </div>
                <div class="chat__header-search">
                  <i class="chat__header-search-icon fa fa-search"></i>
                </div>
                <div class="chat__header-menu">
                  <i class="chat__header-menu-icon fa fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
            <div class="chat__content">
              <div class="chat__content-date">
                <span class="chat__content-date-text"> Today </span>
              </div>
              <div class="chat__content-main">
                <div class="chat__content-sender-wrapper chat__content-wrapper">
                  <div class="chat__content-sender">
                    <span class="chat__content-sender-text"
                      >این راست نیست که هرچه عاشق‌ تر باشی بهتر درک می‌کنی.
                      همه‌ی آنچه عشق و عاشقی از من می‌ خواهد فقط درکِ این حکمت
                      است: دیگری نشناختنی است؛ ماتیِ او پرده‌ی ابهامی به روی یک
                      راز نیست، بل گواهی است که در آن بازیِ بود و نمود هیچ‌ جایی
                      ندارد. پس من در مسرتِ عشق ورزیدن به یک ناشناس غرق می‌شوم،
                      کسی که تا ابد ناشناس خواهد ماند. سِیری عارفانه: من آن‌چه
                      را نمی‌شناسم می‌شناسم...!
                    </span>
                    <span class="chat__content-chat-clock">17:55</span>
                  </div>
                </div>
                <div
                  class="chat__content-receiver-wrapper chat__content-wrapper"
                >
                  <div class="chat__content-receiver">
                    <span class="chat__content-receiver-text">بنازمم</span>
                    <span class="chat__content-chat-clock">17:55</span>
                  </div>
                </div>
                <div
                  class="chat__content-receiver-wrapper chat__content-wrapper"
                >
                  <div class="chat__content-receiver">
                    <span class="chat__content-receiver-text"
                      >بذار یکی هم من بگم.</span
                    >
                    <span class="chat__content-chat-clock">17:55</span>
                  </div>
                </div>
                <div
                  class="chat__content-receiver-wrapper chat__content-wrapper"
                >
                  <div class="chat__content-receiver">
                    <span class="chat__content-receiver-text"
                      >هر نفسی که فرو می‌ بریم، مرگی را که مدام به ما دست‌
                      اندازی می‌کند پس می‌زند... در نهایت این مرگ است که باید
                      پیروز شود، زیرا از هنگام تولد بخشی از سرنوشت ما شده و فقط
                      مدت کوتاهی پیش از بلعیدن طعمه اش، با آن بازی می کند. با
                      این همه، ما تا آنجا که ممکن است، با علاقه فراوان و دلواپسی
                      زیاد به زندگی ادامه می دهیم، همان‌ طور که تا آنجا که ممکن
                      است طولانی‌ تر در یک حباب صابون می‌ دمیم تا بزرگتر شود، گر
                      چه با قطعیتی تمام می‌ دانیم که خواهد ترکید.
                    </span>
                    <span class="chat__content-chat-clock">17:55</span>
                  </div>
                </div>
                <div class="chat__content-sender-wrapper chat__content-wrapper">
                  <div class="chat__content-sender">
                    <span class="chat__content-sender-text">ماشالا</span>
                    <span class="chat__content-chat-clock">17:55</span>
                  </div>
                </div>
                <div class="chat__content-sender-wrapper chat__content-wrapper">
                  <div class="chat__content-sender">
                    <span class="chat__content-sender-text"
                      >ولی من کم نمیارم</span
                    >
                    <span class="chat__content-chat-clock">17:55</span>
                  </div>
                </div>
                <div class="chat__content-sender-wrapper chat__content-wrapper">
                  <div class="chat__content-sender">
                    <span class="chat__content-sender-text">
                      مداد رنگی ها مشغول بودند به جز مداد سفید، هیچکس به او کار
                      نمیداد، همه میگفتند : تو به هیچ دردی نمیخوری، یک شب که
                      مداد رنگی ها تو سیاهی شب گم شده بودند، مداد سفید تا صبح
                      ماه کشید مهتاب کشید و انقدر ستاره کشید که کوچک و کوچکتر شد
                      صبح توی جعبه مداد رنگی جای خالی او با هیچ رنگی پر نشد، به
                      یاد هم باشیم شاید فردا ما هم در کنار هم نباشیم…
                    </span>
                    <span class="chat__content-chat-clock">17:55</span>
                  </div>
                </div>
              </div>
              <div class="chat__content-bottom-bar">
                <div class="chat__content-bottom-bar-left">
                  <input
                    class="chat__content-bottom-bar-input"
                    placeholder="Message"
                    type="text"
                  />
                  <i
                    class="chat__content-bottom-bar-icon-left tgico button-icon laugh-icon"
                  ></i>
                  <i
                    class="chat__content-bottom-bar-icon-right tgico button-icon file-icon"
                  ></i>
                </div>
                <div class="chat__content-bottom-bar-right">
                  <i
                    class="chat__content-bottom-bar-right-icon fa fa-microphone"
                  ></i>
                </div>
                <div class="chat__content-bottom-bar-right">
                  <span
                    style="
                      background-color: var(--secondary-color);
                      top: -37px;
                      font-size: 2.4rem;
                      visibility: hidden;
                      opacity: 0;
                    "
                    class="chat__content-bottom-bar-right-icon tgico button-icon arrow-bottom-icon__active"
                    ></span
                  >
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>

      <div class="contact-menu context-menu">
        <!-- <ul class="contact-menu__list context-menu__list">
                <li class="contact-menu__item context-menu__item">
                    <i class="contact-menu__icon context-menu__icon fa fa-trash"></i>
                    <span class="contact-menu__text context-menu__text">Open in new salam</span>
                </li>
            
                <li class="contact-menu__item context-menu__item">
                    <i class="contact-menu__icon context-menu__icon fa fa-trash"></i>
                    <span class="contact-menu__text context-menu__text">Open in new tab</span>
                </li>
            
                <li class="contact-menu__item context-menu__item">
                    <i class="contact-menu__icon context-menu__icon fa fa-trash"></i>
                    <span class="contact-menu__text context-menu__text">Open in new tab</span>
                </li>
            
                <li class="contact-menu__item context-menu__item">
                    <i class="contact-menu__icon context-menu__icon fa fa-trash"></i>
                    <span class="contact-menu__text context-menu__text">Open in new tab</span>
                </li>
            
                <li class="contact-menu__item context-menu__item">
                    <i class="contact-menu__icon context-menu__icon fa fa-trash"></i>
                    <span class="contact-menu__text context-menu__text">Open in new tab</span>
                </li>
            
                <li class="contact-menu__item context-menu__item context-menu__item-delete">
                    <i class="contact-menu__icon context-menu__icon fa fa-trash"></i>
                    <span class="contact-menu__text context-menu__text">Open in new tab</span>
                </li>
            
            </ul> -->
      </div>
      <div class="chat-menu context-menu">
        <div class="contact-menu__list context-menu__list">
          <div class="contact-menu__item context-menu__item">
            <span class="tgico btn-menu-item-icon"></span
            ><span class="contact-menu__text context-menu__text">Reply</span>
          </div>
          <div class="contact-menu__item context-menu__item">
            <span
              class="contact-menu__icon context-menu__icon tgico btn-menu-item-icon"
              ></span
            ><span class="contact-menu__text context-menu__text">Copy</span>
          </div>
          <div class="contact-menu__item context-menu__item">
            <span
              class="contact-menu__icon context-menu__icon tgico btn-menu-item-icon"
              ></span
            ><span class="contact-menu__text context-menu__text"
              >Translate</span
            >
          </div>
          <div class="contact-menu__item context-menu__item">
            <span
              class="contact-menu__icon context-menu__icon tgico btn-menu-item-icon"
              ></span
            ><span class="contact-menu__text context-menu__text">Pin</span>
          </div>
          <div class="contact-menu__item context-menu__item">
            <span
              class="contact-menu__icon context-menu__icon tgico btn-menu-item-icon"
              ></span
            ><span class="contact-menu__text context-menu__text">Forward</span>
          </div>
          <div class="contact-menu__item context-menu__item">
            <span
              class="contact-menu__icon context-menu__icon tgico btn-menu-item-icon"
              ></span
            ><span class="contact-menu__text context-menu__text">Select</span>
          </div>
          <div class="contact-menu__item context-menu__item danger">
            <span
              class="contact-menu__icon context-menu__icon tgico btn-menu-item-icon"
              ></span
            ><span class="contact-menu__text context-menu__text">Delete</span>
          </div>
        </div>
      </div>
      <div class="setting-menu">
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text"
            >Saved Messages</span
          >
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text"
            >Archived Chats</span
          ><span
            style="flex: 1; text-align: right; opacity: 0.7"
            class="badge badge-24 badge-gray archived-count"
            >6</span
          >
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text">My Stories</span>
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text">Contacts</span>
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text">Settings</span>
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text">Dark Mode</span
          ><label
            class="checkbox-field checkbox-without-caption checkbox-field-toggle"
            ><input class="checkbox-field-input" type="checkbox" checked />
            <div class="checkbox-toggle">
              <div class="checkbox-toggle-circle"></div></div
          ></label>
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text">Animations</span
          ><label
            class="checkbox-field checkbox-without-caption checkbox-field-toggle"
            ><input class="checkbox-field-input" checked type="checkbox" />
            <div class="checkbox-toggle">
              <div class="checkbox-toggle-circle"></div></div
          ></label>
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text"
            >Telegram Features</span
          >
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text">Report Bug</span>
        </div>
        <div class="contact-menu__item context-menu__item a">
          <span class="tgico btn-menu-item-icon">A</span
          ><span class="contact-menu__text context-menu__text"
            >Switch to A version</span
          >
        </div>
        <div class="contact-menu__item context-menu__item">
          <span class="tgico btn-menu-item-icon"></span
          ><span class="contact-menu__text context-menu__text"
            >Install App</span
          >
        </div>
        <a
          href="https://github.com/morethanwords/tweb/blob/master/CHANGELOG.md"
          target="_blank"
          rel="noopener noreferrer"
          class="btn-menu-footer"
          ><span class="btn-menu-footer-text"
            >Telegram WebK 2.1.0 (509)</span
          ></a
        >
      </div>
    </main>
    <!-- <script src="public/js/script.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>

    <script src="public/js/script.js"></script>
    <script src="public/js/app.js" type="module"></script>
  </body>
</html>
